    
    <div class="main-panel2">
        <!-- <app-navbar></app-navbar> -->
        <router-outlet></router-outlet>
        <!-- <div *ngIf="isMaps('maps')"> -->
            <!-- <app-footer></app-footer> -->
        <!-- </div> -->
        <!-- <slideshow [imageUrls]="imageUrlArray"></slideshow> -->
    </div>
   

