
	<div class="limiter">
		<div class="container-login100" style="background-image: url('./src/app/login/images/bg-01.jpg');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
						Forgot Password
				</span>
				<!-- <form > -->
					<form class="login100-form validate-form p-b-33 p-t-5" [formGroup]="registerForm" (ngSubmit)="forgot(registerForm.value)">
		   
			
					<div class="wrap-input100 validate-input" data-validate = "Enter Email">
						<input class="input100" type="email" id="email" formControlName="email" placeholder="Enter Email">
						
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="alert" *ngIf="!registerForm.controls['email'].valid && registerForm.controls['email'].touched || !registerForm.controls['email'].valid && submittedError">
						Email ID is required
					</div>
				  

					

					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn">
							Submit

						</button>

						
					</div>
					<div class="container-login100-form-btn">
					<a href="login">
						Go Back

					</a>

						
					</div>


				</form>
			</div>
		</div>
	</div>
	

<!--===============================================================================================-->	
<!-- <link rel="icon" type="image/png" href="images/icons/favicon.ico"/> -->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./src/app/login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./src/app/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./src/app/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./src/app/login/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="./src/app/login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./src/app/login/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./src/app/login/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="./src/app/login/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./src/app/login/css/util.css"> 
	<link rel="stylesheet" type="text/css" href="./src/app/login/css/main.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
<!--===============================================================================================-->
<script src="./src/app/login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="./src/app/login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="./src/app/login/vendor/bootstrap/js/popper.js"></script>
	<script src="./src/app/login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="./src/app/login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="./src/app/login/vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="./src/app/login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="./src/app/login/js/main.js"></script>
<style>
	.wrap-input100{
padding-bottom: 2px !important;
}


a[_ngcontent-c2]:hover {
    text-decoration: none;
    color: #000 !important;
}
	</style>















