<nav class="navbar navbar-expand-lg  navbar-transparent navbar-absolute fixed-top" style="background-color:aquamarine;">
        <!-- <div class="container-fluid"> -->
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="#">
    
                    <div mat-card-avatar class="example-header-image" style="margin-top:-9px" >
    
                        <img mat-card-image src="assets/img/gmc.jpg" alt="Smiley face" height="50" width="50">
                 
                      </div>
                </a>
                <a style="margin-left: -10px;" class="navbar-brand" href="#">Company Name</a>
                <!-- <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="press()" >Dashboard</button>
                 -->
    
                 <!-- <a target="_self" href="assets/img/xlsxformat.xlsx" download="format.xlsx">Format</a> -->
                 
                </div>
              <div mat-raised-button class="navbar-toggler">
              
        
                <!-- <button mat-raised-button class="navbar-toggler" 
                    type="submit" class="btn btn-info pull-right" (click)="press()">Client List </button> 
                      padding-right: 5px;   -->
                     <div>
                        <!-- <form class="navbar-form">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search..." style="color: lightpink;">
                                <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" (click)="myModal.show()">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </div>
                        </form> -->
                        <!-- <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="press()">Dashboard</button> -->
                       
                        <i style="padding-right:15px;font: size 35px;color:#000;" class="fa fa-home" aria-hidden="true" (click)="press()"></i>
                        
                        <i  class="fa fa-sign-out" (click)="logout()" style="color: azure"></i>
                     </div>
            </div> 
            
    
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <form class="navbar-form">
                    <div class="input-group no-border">
                        <!-- <input type="text" pattern="[6-9]\d{9}"   name="airWaybill_no" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" 
                         placeholder="Search..."    minlength="12" maxlength="12" 
                         style="color: lightpink;" [(ngModel)]="airWaybill_no"(change)="trackstatus(airWaybill_no)" required> -->
                        <!-- <input type="file"  class="form-control"  > -->
               
                      
                        <!-- <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" (click)="myModal.show()">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                        </button> -->
                        

                    </div>
                </form>
                <form class="navbar-form">
                    <div class="input-group no-border">
                        <!-- <button mat-raised-button type="submit"   class="btn btn-warning pull-right"><a href="/dashboard" >Dashboard</a></button> -->
                        <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="press()">Package List </button> 
                     
                        <!-- <button mat-raised-button type="submit" class="btn btn-info pull-right"  (click)="shipment()">Shipment </button> 
                 -->
                    </div>
                </form>
                <form class="navbar-form">
                    <div class="input-group no-border">
                       
                        <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="press()">
                                <i style="font: size 30px;color:rgb(240, 232, 232);" class="fa fa-home" ></i>
                            </button>
           
                    </div>
                </form>
                <ul class="navbar-nav">
                  
                    <li class="nav-item">
                        <a class="nav-link" (click)="logout()">
                            <i style="color:rgb(17, 17, 17)" class="fa fa-sign-out" ></i>
                        </a>
                    </li>
                </ul>
            </div>
        <!-- </div> -->
    </nav>
    <br>

<!-- <div class="main-content">
  <div class="container-fluid"> -->

        <div class="main-content" >
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <mat-spinner *ngIf="isLoading"></mat-spinner>
                            <div class="card" style="margin-top:30px;">
            
                                   <div class="card-header card-header-danger" style="float: right">
                                            <div style="float: left; width: 200px; "> 
                                                <h4 class="card-title " style="margin-top:11px;"> Exception List </h4>
                                            </div>
                                            <div style="float: right; width: 164px"> 
                                             
            
                                                    <!-- <button type="button" class="btn" 
                                                    data-toggle="modal" (click)="myModal1.show()"  >
                                                    <i class="fa fa-upload"  aria-hidden="true" style="font-size: 13px"> File Upload</i>
                                                    </button> -->
                                            </div>
            
                                            <!-- <div style="float: right; width: 164px; "> 
                                              
                                              
                                                
                                                  <a target="_self" href="assets/img/csvformat.csv" download="format.csv"><button type="button" class="btn" style=" background-color: #5d1f1f;" ><i class="fa fa-download" aria-hidden="true" style="font-size: 13px"> Csv Format</i></button></a>
            
                                            </div> -->
            
                                    </div>
                                <div class="card-body">
                                        <div class="card-body">
                                                <div class="table-responsive">
                                                <mat-form-field style="float:right;">
                                                    <input matInput #ref [matDatepicker]="picker"
                                                    (dateChange)="orgValueChange(ref.value)">
                                                          
                                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                        <mat-datepicker 
                                                        #picker></mat-datepicker>
                                                      </mat-form-field>
                                                
            
            
                                                        <mat-form-field>
                                                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                                              </mat-form-field>
                                                    <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" matSort> 
                                                      
                                                      <!-- Position Column -->
                                                       <ng-container matColumnDef="AirWaybill_No" >
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header  style="font-size: 17px" > AirWaybill_No </th>
                                                        <td mat-cell *matCellDef="let element" > {{element.AirWaybill_No}}
                                                            
                                                                <p  style="color:red;" *ngIf="element.AirWaybill_No==null">
                                                                       
                                                                        Data Not Found
                                                                        
                                                                      <p>
                                                        
                                                        </td>


                                                      </ng-container> 
                                                  
                                                      <!-- Name Column -->
                                                      <ng-container matColumnDef="Order_No">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 17px"> Order No </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.Order_No}} </td>
                                                      </ng-container> 
                                                  
                                                      <!-- Weight Column -->
                                                     <ng-container matColumnDef="customer_name">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 17px"> Customer Name </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.customer_name}}
                                                            
                                                                <p  style="color:red;" *ngIf="element.customer_name==''">
                                                                       
                                                                        Data Not Found
                                                                        
                                                                      <p>
                                                        </td>
                                                      </ng-container> 
                                                   <!-- Symbol Column -->
                                                   <ng-container matColumnDef="mobile">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 17px"> Contact Number </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.mobile}}
                                                            
                                                        
                                                                <p  style="color:red;" *ngIf="element.mobile==null">
                                                                       
                                                                        Data Not Found
                                                                        
                                                                      <p>
                                                        </td>
                                                      </ng-container>
                                                      <!-- Symbol Column -->
                                                       <ng-container matColumnDef="Email">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 17px"> Email </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.Email}}
                                                            
                                                                <p  style="color:red;" *ngIf="element.Email==''">
                                                                       
                                                                        Data Not Found
                                                                        
                                                                      <p>
                                                        
                                                        </td>
                                                      </ng-container> 
                        
                                                      <ng-container matColumnDef="address">
                                                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 17px"> Address </th>
                                                            <td    mat-cell *matCellDef="let element"> {{element.address}}
                                                                <p  style="color:red;" *ngIf="element.address==''">
                                                                   
                                                                    Data Not Found
                                                                    
                                                                  <p>

                                                                <!-- <input type="checkbox" [(ngModel)]="element.allot_status"
                                                                 (change)="slotting(element.allot_status)" [disabled]="element.AirWaybill_No==null || element.address=='' || element.mobile==null  || element.Email==''|| element.customer_name==''" >  -->

                                                            </td>
                                                         
                                                                 

                                                          </ng-container> 
                        
                                                       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
                                                  </table>
                                                  
                                                    <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"></mat-paginator>
                                                  <!-- <p class="info-text mat-body-1" *ngIf="coins.length <= 0 && !isLoading">No posts added yet!</p> -->
                                                  </div>
                                                  
                                                  
                                                  
                                            </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
              </div>
              
              <footer class="footer ">
                    <div class="container-fluid">
                        <nav class="pull-left">
                           
                        </nav>
                        <div class="copyright pull-right">
                            &copy;
                            {{test | date: 'yyyy'}}
                            <!-- <a href="https://http://www.mavyah.com/" target="_blank">Mavyah Technologies Pvt.Ltd.</a> -->
                            <a href="https://http://www.mavyah.com/" target="_blank"></a>Mavyah Technologies Pvt.Ltd.
                  
                          </div>
                    </div>
                  </footer>
                 
                <style>
                
                        th.mat-sort-header{
                            color: black;
                        }
                        .example-card {
                        max-width: 400px;
                      }
                      table {
                        width: 100%;
                      }
                      
                      tr.mat-footer-row {
                        font-weight: bold;
                      }
                      .example-header-image {
                        
                        background-size: cover;
                      }
                            mat-form-field{
                                width:150px;
                            }
                            .navbar.navbar-transparent{
                              
                                 background-color: #040404ad !important;
                  
                  border-radius: 10px !important;
                            }
                            .card 
                            {
                              margin-top: 100px !important;
                            }
                            td.mat-cell, td.mat-footer-cell, th.mat-header-cell
                            {
                              padding-left: 48px !important;
                              border-bottom-width: 5px  !important;
                            }
                            img {
                    border-radius: 50%;
                }
                mat-spinner{
                    margin:auto;
                }
                a {
                    color: #fff !important;
                }
                  
                .navbar.navbar-transparent[_ngcontent-c3] {
                    /* background-color: #616161ad !important; */
                    background-color: #040404ad !important;
                  
                    border-radius: 10px !important;
                }
                
                .fa-sign-out:before {
                    content: "\f08b" !important;
                    color: azure !important;
                }
                
                
                
                .card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
                    
                    padding: 8px !important;
                }
                
                            </style>