<nav class="navbar navbar-expand-lg  navbar-transparent navbar-absolute fixed-top" style="background-color:aquamarine;">
        <!-- <div class="container-fluid"> -->
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="#">
    
                    <div mat-card-avatar class="example-header-image" style="margin-top:-9px" >
    
                        <img mat-card-image src="assets/img/gmc.jpg" alt="Smiley face" height="50" width="50">
                 
                      </div>
                </a>
                <a style="margin-left: -10px;" class="navbar-brand" href="#">Company Name</a>
                <!-- <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="press()" >Dashboard</button>
                 -->
              </div>
              <div mat-raised-button class="navbar-toggler">
              
        
                <!-- <button mat-raised-button class="navbar-toggler" 
                    type="submit" class="btn btn-info pull-right" (click)="press()">Client List </button> 
                      padding-right: 5px;   -->
                     <div>
                        <!-- <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="press()">Dashboard</button> -->
                        <i style="padding-right:15px;font: size 35px;color:#000;" class="fa fa-home" aria-hidden="true" (click)="press()"></i>
                        
                        <i  class="fa fa-sign-out" (click)="logout()" style="color: azure"></i>
                     </div>
            </div> 
            
    
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <form class="navbar-form">
                    <div class="input-group no-border">
                       
                        <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="press()">
                                <i style="font: size 30px;color:rgb(240, 232, 232);" class="fa fa-home" ></i>
                            </button>
           
                    </div>
                </form>
                <ul class="navbar-nav">
                  
                    <li class="nav-item">
                        <a class="nav-link" (click)="logout()">
                            <i style="color:rgb(17, 17, 17)" class="fa fa-sign-out" ></i>
                        </a>
                    </li>
                </ul>
            </div>
        <!-- </div> -->
    </nav>
    <br>
      <!-- <mat-spinner></mat-spinner> -->
      <div class="main-content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
                    <div class="card" style="margin-top:30px;">
                        <div class="card-header card-header-danger" style="float: right">
                                <div style="float: left; width: 200px; "> 
                                    <h4 class="card-title " style="margin-top:11px;"> Shipment details </h4>
                                </div>
                                <div style="float: right; width: 140px"> 
                                        <button type="button" class="btn btn-success" 
                                        data-toggle="modal" (click)="myModal1.show()"  >
                                        <i class="fa fa-file-excel-o" aria-hidden="true"> Import</i>
                                        </button>
                                </div>

                        </div>
                  












<!-- 
                        <div class="card-body">
                                <div class="card-body">
                                        <div class="table-responsive">
                                        <mat-form-field style="float:right;">
                                            <input matInput #ref [matDatepicker]="picker" formControl="organizationValue" 
                                            (dateChange)="orgValueChange(ref.value)">
                                                  
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker 
                                                #picker></mat-datepicker>
                                              </mat-form-field>
                                        
    
    
                                                <mat-form-field>
                                                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                                      </mat-form-field>
                                            
                                          
                                            <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"></mat-paginator>
                                        
                                        </div>
                                          
                                          
                                          
                                    </div>
                        </div> -->



























                    </div>
                </div>
                
            </div>
        </div>
      </div>
      
       
      <!-- <button type="button" class="btn btn-secondary" data-toggle="modal" (click)="myModal.show()">
         Status
        </button>
       -->
      <footer class="footer ">
        <div class="container-fluid">
            <nav class="pull-left">
               
            </nav>
            <div class="copyright pull-right">
                &copy;
                {{test | date: 'yyyy'}}
                <!-- <a href="https://http://www.mavyah.com/" target="_blank">Mavyah Technologies Pvt.Ltd.</a> -->
                <a href="https://http://www.mavyah.com/" target="_blank"></a>Mavyah Technologies Pvt.Ltd.
      
              </div>
        </div>
      </footer>
      <div bsModal #myModal1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Import Shipment  Details</h4>
                <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
      
              <div style="padding:20px;">
                  
                    <input type="file" (change)="onFileSelected($event)" />
                   
                    <div class="modal-footer" style="margin-top: 10px;" >
                    <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
                    <button type="button" class="btn btn-info" (click)="importshipment();myModal.hide()">Submit</button>
                    </div>
                  </div> 
              
              
            </div>
          </div>
        </div>
    
                     
    <style>
    
            th.mat-sort-header{
                color: black;
            }
            .example-card {
            max-width: 400px;
          }
          table {
            width: 100%;
          }
          
          tr.mat-footer-row {
            font-weight: bold;
          }
          .example-header-image {
            
            background-size: cover;
          }
                mat-form-field{
                    width:150px;
                }
                .navbar.navbar-transparent{
                  
                     background-color: #040404ad !important;
      
      border-radius: 10px !important;
                }
                .card 
                {
                  margin-top: 85px !important;
                }
                td.mat-cell, td.mat-footer-cell, th.mat-header-cell
                {
                  padding-left: 48px !important;
                  border-bottom-width: 5px  !important;
                }
                img {
        border-radius: 50%;
    }
    mat-spinner{
        margin:auto;
    }
    a {
        color: #fff !important;
    }
      
    .navbar.navbar-transparent[_ngcontent-c3] {
        /* background-color: #616161ad !important; */
        background-color: #040404ad !important;
      
        border-radius: 10px !important;
    }
    
    .fa-sign-out:before {
        content: "\f08b" !important;
        color: azure !important;
    }
                </style>