// .status-track {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   display: -webkit-flex;
//   -webkit-flex-direction: row;
//   -webkit-justify-content: space-between;
//   display: -ms-flexbox;

//   text-transform: uppercase;
//   font-size: 1em;
// }
// .status-track .complete {
//   color: #fe8125;
// }
// .status-track .current {
//   color: #ccc;
// }
// .status-track .future {
//   color: #888;
// }
// .status-track > * {
//   text-align: center;
//   line-height: 1.9;
//   flex: 2;
//   -webkit-flex: 2;
//   -ms-flex: 0px 2;
//   position: relative;
// }
// .status-track > * * {
//   display: block;
// }
// .status-track > * label {
//   font-weight: bold;
//   font-size: 0.9em;
//   letter-spacing: 0.2em;
// }
// .status-track > * i.fa {
//   font-size: 1.3em;
// }
// .status-track > *:first-child {
//   text-align: left;
//   flex: 1;
//   -webkit-flex: 1;
//   -ms-flex: 0px 1;
// }
// .status-track > *:not(:first-child)::before {
//   display: block;
//   content: "";
//   position: absolute;
//   left: -50%;
//   right: 50%;
//   top: 0.5em;
//   border-top: 0.2em solid;
//   margin: 0 1em;
// }
// .status-track > *:nth-child(2)::before {
//   margin-left: 1.5em;
// }
// .status-track > *:last-child {
//   text-align: right;
//   flex: 1;
//   -webkit-flex: 1;
//   -ms-flex: 0px 1;
// }
// .status-track > *:last-child::before {
//   right: 0.5em;
//   left: -100%;
// }
// .spacer {
//   height: 2em;
// }
// body {
//   background-color: #333;
//   font-family: sans-serif;
//   padding: 2em;
//   font-size: 1em;
// }
// a {
//     color: #406753;
//     text-decoration: none;
//     border-bottom: 1px dotted #999;
// }
// a:hover {
//     color: black;
//     border-color: black;
// }
hr {
    opacity: 0.3;
}
h1 {
    font-size: 50px;
}
h3 {
    border-left: 12px solid #f1f1f1;
    text-indent: 1em;
    color: #999;
    margin-top: 2em;
    font-weight: 100;
}
ul {
    margin: 0;
    padding: 0.4em;
    list-style-type: square;
}
li {
    padding-left: 0.5em;
    line-height: 2.4em;
}
code {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    background-color: #f1f1f1;
    font-size: 70%;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.subdued {
    font-size: 80%;
    opacity: 0.6;
}

/* A totally custom override */

.progress-indicator.custom-complex {
    background-color: #f1f1f1;
    padding: 10px 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.progress-indicator.custom-complex > li .bubble {
    height: 12px;
    width: 99%;
    border-radius: 2px;
    box-shadow: inset -5px 0 12px rgba(0, 0, 0, 0.2);
}
.progress-indicator.custom-complex > li .bubble:before,
.progress-indicator.custom-complex > li .bubble:after {
    display: none;
}

/* Demo for vertical bars */

.progress-indicator.stepped.stacked {
    width: 48%;
    display: inline-block;
}
.progress-indicator.stepped.stacked > li {
    height: 150px;
}
.progress-indicator.stepped.stacked > li .bubble {
    padding: 0.1em;
}
.progress-indicator.stepped.stacked > li:first-of-type .bubble {
    padding: 0.5em;
}
.progress-indicator.stepped.stacked > li:last-of-type .bubble {
    padding: 0em;
}

/* Nocenter */

.progress-indicator.nocenter.stacked > li {
    min-height: 100px;
}
.progress-indicator.nocenter.stacked > li span {
    display: block;
}

/* Demo for Timeline vertical bars */

#timeline-speaker-example {
    background-color: #2b4a6d;
    color: white;
    padding: 1em 2em;
    text-align: center;
    border-radius: 10px;
}
#timeline-speaker-example .progress-indicator {
    width: 100%;
}
#timeline-speaker-example .bubble {
    padding: 0;
}
#timeline-speaker-example .progress-indicator > li {
    color: white;
}
#timeline-speaker-example .time {
    position: relative;
    left: -80px;
    top: 30px;
    font-size: 130%;
    text-align: right;
    opacity: 0.6;
    font-weight: 100;
}
#timeline-speaker-example .current-time .time {
    font-size: 170%;
    opacity: 1;
}
#timeline-speaker-example .stacked-text {
    top: -37px;
    left: -50px;
}
#timeline-speaker-example .subdued {
    font-size: 10px;
    display: block;
}
#timeline-speaker-example > li:hover {
    color: #ff3d54;
}
#timeline-speaker-example > li:hover .bubble,
#timeline-speaker-example > li:hover .bubble:before,
#timeline-speaker-example > li:hover .bubble:after {
    background-color: #ff3d54;
}
#timeline-speaker-example .current-time .sub-info {
    font-size: 60%;
    line-height: 0.2em;
    text-transform: capitalize;
    color: #6988be;
}
@media handheld, screen and (max-width: 400px) {
    .container {
        margin: 0;
        width: 100%;
    }
    .progress-indicator.stacked {
        display: block;
        width: 100%;
    }
    .progress-indicator.stacked > li {
        height: 80px;
    }
}




.flexer,.progress-indicator{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex}.no-flexer,.progress-indicator.stacked{display:block}.no-flexer-element{-ms-flex:0;-webkit-flex:0;-moz-flex:0;flex:0}.flexer-element,.progress-indicator>li{-ms-flex:1;-webkit-flex:1;-moz-flex:1;flex:1}.progress-indicator{margin:0 0 1em;padding:0;font-size:80%;text-transform:uppercase}.progress-indicator>li{list-style:none;text-align:center;width:auto;padding:0;margin:0;position:relative;text-overflow:ellipsis;color:#bbb;display:block}.progress-indicator>li:hover{color:#6f6f6f}.progress-indicator>li.completed,.progress-indicator>li.completed .bubble{color:#65d074}.progress-indicator>li .bubble{border-radius:1000px;width:20px;height:20px;background-color:#bbb;display:block;margin:0 auto .5em;border-bottom:1px solid #888}.progress-indicator>li .bubble:after,.progress-indicator>li .bubble:before{display:block;position:absolute;top:9px;width:100%;height:3px;content:'';background-color:#bbb}.progress-indicator>li.completed .bubble,.progress-indicator>li.completed .bubble:after,.progress-indicator>li.completed .bubble:before{background-color:#65d074;border-color:#247830}.progress-indicator>li .bubble:before{left:0}.progress-indicator>li .bubble:after{right:0}.progress-indicator>li:first-child .bubble:after,.progress-indicator>li:first-child .bubble:before{width:50%;margin-left:50%}.progress-indicator>li:last-child .bubble:after,.progress-indicator>li:last-child .bubble:before{width:50%;margin-right:50%}.progress-indicator>li.active,.progress-indicator>li.active .bubble{color:#337AB7}.progress-indicator>li.active .bubble,.progress-indicator>li.active .bubble:after,.progress-indicator>li.active .bubble:before{background-color:#337AB7;border-color:#122a3f}.progress-indicator>li a:hover .bubble,.progress-indicator>li a:hover .bubble:after,.progress-indicator>li a:hover .bubble:before{background-color:#5671d0;border-color:#1f306e}.progress-indicator>li a:hover .bubble{color:#5671d0}.progress-indicator>li.danger .bubble,.progress-indicator>li.danger .bubble:after,.progress-indicator>li.danger .bubble:before{background-color:#d3140f;border-color:#440605}.progress-indicator>li.danger .bubble{color:#d3140f}.progress-indicator>li.warning .bubble,.progress-indicator>li.warning .bubble:after,.progress-indicator>li.warning .bubble:before{background-color:#edb10a;border-color:#5a4304}.progress-indicator>li.warning .bubble{color:#edb10a}.progress-indicator>li.info .bubble,.progress-indicator>li.info .bubble:after,.progress-indicator>li.info .bubble:before{background-color:#5b32d6;border-color:#25135d}.progress-indicator>li.info .bubble{color:#5b32d6}.progress-indicator.stacked>li{text-indent:-0px;text-align:center;display:block}.progress-indicator.stacked>li .bubble:after,.progress-indicator.stacked>li .bubble:before{left:50%;margin-left:-1.5px;width:3px;height:100%}.progress-indicator.stacked .stacked-text{position:relative;z-index:10;top:0;margin-left:60%!important;width:45%!important;display:inline-block;text-align:left;line-height:1.2em}.progress-indicator.stacked>li a{border:none}.progress-indicator.stacked.nocenter>li .bubble{margin-left:0;margin-right:0}.progress-indicator.stacked.nocenter>li .bubble:after,.progress-indicator.stacked.nocenter>li .bubble:before{left:10px}.progress-indicator.stacked.nocenter .stacked-text{width:auto!important;display:block;margin-left:40px!important}@media handheld,screen and (max-width:400px){.progress-indicator{font-size:60%}}