<nav class="navbar navbar-expand-lg  navbar-transparent navbar-absolute fixed-top" style="background-color:aquamarine;">
    <!-- <div class="container-fluid"> -->
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="#">

                <div mat-card-avatar class="example-header-image" style="margin-top:-9px" >

                    <img mat-card-image src="assets/img/gmc.jpg" alt="Smiley face" height="50" width="50">
             
                  </div>
            </a>
            <a style="margin-left: -10px;" class="navbar-brand" href="#">Company Name</a>
            <!-- <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="press()" >Dashboard</button>
             -->

             <!-- <a target="_self" href="assets/img/xlsxformat.xlsx" download="format.xlsx">Format</a> -->
             
            </div>
          <div mat-raised-button class="navbar-toggler">
          
    
            <!-- <button mat-raised-button class="navbar-toggler" 
                type="submit" class="btn btn-info pull-right" (click)="press()">Client List </button> 
                  padding-right: 5px;   -->
                 <div>
                    <!-- <form class="navbar-form">
                        <div class="input-group no-border">
                            <input type="text" value="" class="form-control" placeholder="Search..." style="color: lightpink;">
                            <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" (click)="myModal.show()">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </form> -->
                    <!-- <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="press()">Dashboard</button> -->
                    <i style="padding-right:15px;font: size 35px;color:#000;" class="fa fa-home" aria-hidden="true" (click)="press()"></i>
                    
                    <i  class="fa fa-sign-out" (click)="logout()" style="color: azure"></i>
                 </div>
        </div> 
        

        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form class="navbar-form">
                <div class="input-group no-border">
                    <input type="text" pattern="[6-9]\d{9}"   name="airWaybill_no" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" 
                     placeholder="Search..."    minlength="12" maxlength="12" 
                     style="color: lightpink;" [(ngModel)]="airWaybill_no" required>
                    <!-- <input type="file"  class="form-control"  > -->
           
                  
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" (click)="trackstatus(airWaybill_no);myModal.show();">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                 </div>
            </form>
            <form class="navbar-form">
                <div class="input-group no-border">
                   
                    <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="press()">
                            <i style="font: size 30px;color:rgb(240, 232, 232);" class="fa fa-home" ></i>
                        </button>
       
                </div>
            </form>
            <ul class="navbar-nav">
              
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">
                        <i style="color:rgb(17, 17, 17)" class="fa fa-sign-out" ></i>
                    </a>
                </li>
            </ul>
        </div>
    <!-- </div> -->
</nav>
<br>
  <!-- <mat-spinner></mat-spinner> -->
  <div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <mat-spinner *ngIf="isLoading"></mat-spinner>
                <div class="card" style="margin-top:30px;">

                       <div class="card-header card-header-danger" style="float: right">
                                <div style="float: left; width: 200px; "> 
                                    <h4 class="card-title " style="margin-top:11px;"> Shipment Details </h4>
                                </div>
                                <div style="float: right; width: 164px"> 
                                 

                                        <button type="button" class="btn" 
                                        data-toggle="modal" (click)="myModal1.show()"  >
                                        <i class="fa fa-upload"  aria-hidden="true" style="font-size: 13px"> File Upload</i>
                                        </button>
                                </div>

                                <div style="float: right; width: 164px; "> 
                                  
                                  
                                    
                                      <a target="_self" href="assets/img/csvformat.csv" download="format.csv"><button type="button" class="btn" style=" background-color: #5d1f1f;" ><i class="fa fa-download" aria-hidden="true" style="font-size: 13px"> Csv Format</i></button></a>

                                </div>

                        </div>
                    <div class="card-body">
                            <div class="card-body">
                                    <div class="table-responsive">
                                    <mat-form-field style="float:right;">
                                        <input matInput #ref [matDatepicker]="picker" formControl="organizationValue" 
                                        (dateChange)="orgValueChange(ref.value)">
                                              
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker 
                                            #picker></mat-datepicker>
                                          </mat-form-field>
                                    


                                            <mat-form-field>
                                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                                  </mat-form-field>
                                        <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" matSort> 
                                          
                                          <!-- Position Column -->
                                           <ng-container matColumnDef="AirWaybill_No" >
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header  style="font-size: 17px" > AirWaybill_No </th>
                                            <td mat-cell *matCellDef="let element"> {{element.AirWaybill_No}} </td>
                                          </ng-container> 
                                      
                                          <!-- Name Column -->
                                          <ng-container matColumnDef="Lastupdated_date">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 17px"> Date </th>
                                            <td mat-cell *matCellDef="let element"> {{element.Lastupdated_date}} </td>
                                          </ng-container> 
                                      
                                          <!-- Weight Column -->
                                         <ng-container matColumnDef="customer_name">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 17px"> Customer Name </th>
                                            <td mat-cell *matCellDef="let element"> {{element.customer_name}} </td>
                                          </ng-container> 
                                       <!-- Symbol Column -->
                                       <ng-container matColumnDef="mobile">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 17px"> Contact Number </th>
                                            <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
                                          </ng-container>
                                          <!-- Symbol Column -->
                                           <ng-container matColumnDef="Product_Type">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 17px"> Product Name </th>
                                            <td mat-cell *matCellDef="let element"> {{element.Product_Type}} </td>
                                          </ng-container> 
            
                                          <ng-container  matColumnDef="Status">
                                                <th mat-header-cell *matHeaderCellDef  style="font-size: 17px"> Status </th>
                                                <!-- <td mat-cell *matCellDef="let element"> {{element.Order_No}} </td> -->
                                            <td mat-cell *matCellDef="let element">
                                                    <button type="button" class="btn btn-info" 
                                                    data-toggle="modal" (click)="myModal.show()">
                                                    Status
                                                    </button>
            
                                            </td> 
                                            
                                            </ng-container> 
            
                                           <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
                                      </table>
                                      
                                        <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"></mat-paginator>
                                      <!-- <p class="info-text mat-body-1" *ngIf="coins.length <= 0 && !isLoading">No posts added yet!</p> -->
                                      </div>
                                      
                                      
                                      
                                </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
  
   
  <!-- <button type="button" class="btn btn-secondary" data-toggle="modal" (click)="myModal.show()">
     Status
    </button>
   -->
  <footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
           
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}
            <!-- <a href="https://http://www.mavyah.com/" target="_blank">Mavyah Technologies Pvt.Ltd.</a> -->
            <a href="https://http://www.mavyah.com/" target="_blank"></a>Mavyah Technologies Pvt.Ltd.
  
          </div>
    </div>
  </footer>
  <div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Status details</h4>
            <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
  
       <!--status details display: class="current" class="future" -->
            <!-- <div class="status-track" style="padding:20px;">
              <div class="complete"> <i class="fa fa-check-circle-o"></i>
                <label>Step 1</label>
                <p style="font-size:10px">Assigned To FE</p>
                <p style="font-size:10px">Attempt / Not Attempt </p>
                <p style="font-size:10px">Picked / Not Picked </p>
                <p style="font-size:10px">Reached To W/H </p>
              </div>
              <div class="complete"><i class="fa fa-check-circle-o"></i>
                <label>Step 2</label>
              </div>
              <div class="current"> <i class="fa fa-check-circle-o"></i>
                <label>Step 3</label>
              </div>
              
            </div> -->


<br>
<br>


            <ul class="progress-indicator stepped stacked">
                <li class="completed" *ngIf="res2!='Not Alloted'">
                    <!-- <a href="#"> -->
                        <span class="bubble"></span>
                        <span class="stacked-text">
                            
                            <span class="fa fa-tasks" style="font-size:18px" >ASSIGNED TO FE</span> 
                            <!-- <span class="subdued">/ Added a thing. <em>Pssst... I'm a link!</em></span> -->
                        </span>
                    <!-- </a> -->
                </li>
                <li *ngIf="res2==='Not Alloted'">
                    <!-- <a href="#"> -->
                        <span class="bubble"></span>
                        <span class="stacked-text">
                            
                            <span class="fa fa-tasks" style="font-size:18px" >ASSIGNED TO FE</span> 
                            <!-- <span class="subdued">/ Added a thing. <em>Pssst... I'm a link!</em></span> -->
                        </span>
                    <!-- </a> -->
                </li>
                <li *ngIf="picked===''">
                    
                        <span class="bubble"></span>
                    <span class="stacked-text">
                        <span class="fa fa-shopping-bag" style="font-size:18px" > PICKED</span>
                        <!-- <span class="subdued">/ Some stuff happened. It was amazing.</span> -->
                    </span>
                   
                </li>
                <li class="completed" *ngIf="picked!=''">
                    
                    <span class="bubble"></span>
                <span class="stacked-text">
                    <span class="fa fa-shopping-bag" style="font-size:18px" > PICKED</span>
                    <!-- <span class="subdued">/ Some stuff happened. It was amazing.</span> -->
                </span>
               
            </li>
                <li *ngIf="warehouse1===''">
                 
                        <span class="bubble"></span>
                    <span class="stacked-text">
                        <span class="fa fa-truck" style="font-size:18px" >  REACHED TO WAREHOUSE</span>
                        <!-- <span class="subdued">/ What a wild day!</span> -->
                    </span>
                   
                </li>
                <li class="completed" *ngIf="warehouse1!=''">
                 
                    <span class="bubble"></span>
                <span class="stacked-text">
                    <span class="fa fa-truck" style="font-size:18px" >  REACHED TO WAREHOUSE</span>
                    <!-- <span class="subdued">/ What a wild day!</span> -->
                </span>
               
            </li>
                <li >
                 
                        <span  ><i class="fa fa-check-circle" > </i>Delivered</span>
                      
                   
                </li>
                <li >
                 
                        <span  >Sucess</span>
                      
                   
                </li>

            </ul>
          
          
        </div>
      </div>
    </div>



    <!-- import file -->
    <div bsModal #myModal1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Import Shipment  Details</h4>
              <button type="button" class="close" (click)="myModal1.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
    
            <div style="padding:20px;">
                
                  <input type="file" accept=".csv" (change)="onFileSelected($event)" />
                 
                  <div class="modal-footer" style="margin-top: 10px;" >
                  <button type="button" class="btn" (click)="myModal1.hide()">Close</button>
                  <button type="button" class="btn btn-info" (click)="importshipment();myModal1.hide();
                  refresh();">Submit</button>
                  </div>
                </div> 
            
            
          </div>
        </div>
      </div>
    <!-- end file -->
                 
<style>

        th.mat-sort-header{
            color: black;
        }
        .example-card {
        max-width: 400px;
      }
      table {
        width: 100%;
      }
      
      tr.mat-footer-row {
        font-weight: bold;
      }
      .example-header-image {
        
        background-size: cover;
      }
            mat-form-field{
                width:150px;
            }
            .navbar.navbar-transparent{
              
                 background-color: #040404ad !important;
  
  border-radius: 10px !important;
            }
            .card 
            {
              margin-top: 100px !important;
            }
            td.mat-cell, td.mat-footer-cell, th.mat-header-cell
            {
              padding-left: 48px !important;
              border-bottom-width: 5px  !important;
            }
            img {
    border-radius: 50%;
}
mat-spinner{
    margin:auto;
}
a {
    color: #fff !important;
}
  
.navbar.navbar-transparent[_ngcontent-c3] {
    /* background-color: #616161ad !important; */
    background-color: #040404ad !important;
  
    border-radius: 10px !important;
}

.fa-sign-out:before {
    content: "\f08b" !important;
    color: azure !important;
}



.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    
    padding: 8px !important;
}

            </style>