<!-- <main-nav></main-nav> -->
<nav class="navbar navbar-expand-lg   navbar-transparent   navbar-absolute fixed-top" style="background-color:aquamarine;">
    <!-- <div class="container-fluid"> -->
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="#">
                
                    <div mat-card-avatar class="example-header-image" style="margin-top:-9px" >

                            <img mat-card-image src="assets/img/gmc.jpg" alt="Smiley face" height="50" width="50">
                     
                          </div>

            </a>
            <a style="margin-left: -10px; letter-spacing: 0px;" class="navbar-brand" href="#">Company Name</a>
          </div>
          <!-- <div class="navbar-wrapper">
            <a class="navbar-brand" href="#">XYZ</a>
          </div> -->
        <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                           -->
         <div mat-raised-button class="navbar-toggler">
          
    
            <!-- <button mat-raised-button class="navbar-toggler" 
                type="submit" class="btn btn-info pull-right" (click)="press()">Client List </button> 
                  padding-right: 5px; fa   -->
                 <div>
                    <i style="padding-right:5px;" class="fa fa-list-alt" aria-hidden="true" (click)="press()">Package List</i>
                      
                    <i  class="fa fa-sign-out" (click)="logout()" style="color: azure"></i>
                 </div>
        </div> 
        
  
       
<!--     
            <span class="navbar-toggler-icon icon-bar"><button mat-raised-button class="navbar-toggler" 
                type="submit" class="btn btn-info pull-right" (click)="press()">Client List </button> 
                    </span> -->
            <!-- <span class="navbar-toggler-icon icon-bar"> <i class="material-icons">person</i></span> -->
            <!-- <span class="navbar-toggler-icon icon-bar"></span> -->
        <!-- </button>  -->
 

        <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <form class="navbar-form">
                        <div class="input-group no-border">
                          
                            <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="Exception()">Exception List </button> 
                           
                        </div>
                    </form>

            <form class="navbar-form">
                <div class="input-group no-border">
                    <!-- <button mat-raised-button type="submit"   class="btn btn-warning pull-right"><a href="/dashboard" >Dashboard</a></button> -->
                    <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="press()">Package List </button> 
                 
                    <!-- <button mat-raised-button type="submit" class="btn btn-info pull-right"  (click)="shipment()">Shipment </button> 
             -->
                </div>
            </form>
            <ul class="navbar-nav">
              
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()" style="color: azure">
                        <i class="fa fa-sign-out" ></i>
                    </a>
                </li>
            </ul>
        </div>
    <!-- </div> -->
</nav>
<br>


<!-- <div class="main-content">
  <div class="container-fluid"> -->

      <div class="main-content">
        <div class="container-fluid">
          
            <div class="card card-plain">
            <div class="card-header card-header-danger" style="margin-top:50px;">
                <h4 class="card-title mt-0"> Package Details Of All Branch</h4>
                <!-- <p class="card-category"> Here is a Subtitle Branch Details </p> -->
            </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6" >
        <div class="card card-stats" >
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                  <i class="fa fa-database"></i>
                </div>
                <p class="card-category">Total Package</p>
                <h3 class="card-title">{{fetchData}}
                    <!-- <small>GB</small> -->
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-danger"></i>
                    <a href="#pablo"></a>
                </div>
            </div>
        </div>
    </div><br>
    <div class="col-lg-3 col-md-6 col-sm-6"  >
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                  <i class="fa fa-truck"></i>
                </div>
                <p class="card-category">No Of Package Alloted</p>
                <h3 class="card-title">{{fetchData2}}</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons"></i>
                </div>
            </div>
        </div>
    </div><br>
    
  
 
                <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let coin of fetchData3"> 
                    <div class="card card-chart" >
                        <div class="card-header card-header-info">
                            <div class="ct-chart" ><h3 align="center"> No.of Package

                                <!-- <img src="assets/img/gmc.jpg"  width="10" height="10" style="float:right;"/> -->
                                <img src="assets/img/green.png" *ngIf="coin._id.allot_status==='Alloted'" width="10" height="10" style="float:right;"/>
                                <img src="assets/img/red.png" *ngIf="coin._id.allot_status==='Not Alloted'" width="10" height="10" style="float:right;"/>
                          
                            </h3>
                            
                              
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{coin._id.Destination_City}} - <span class="text-success"> {{coin.total}} </span></h4>
                            <!-- <p class="card-category">
                                <span class="text-success"> 55% </span> increase in today sales.</p> -->
                                
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <!-- <i class="material-icons">access_time</i> updated 4 minutes ago -->
                            </div>
                        </div>
                    </div>
                </div> <br>



              



  </div>


  <div class="row">
  <div class="col-lg-12 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>

    </div>
</div>
</div>
</div>
</div>
<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <!-- <a href="https://www.creative-tim.com">
                        Creative Tim
                    </a> -->
                </li>
                <li>
                    <!-- <a href="http://presentation.creative-tim.com">
                        About Us
                    </a> -->
                </li>
                <li>
                    <!-- <a href="http://blog.creative-tim.com">
                        Blog
                    </a> -->
                </li>
                <li>
                    <!-- <a href="https://www.creative-tim.com/license">
                        Licenseshref="/typography" 
                    </a> -->
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
          
            <a href="https://http://www.mavyah.com/" target="_blank"></a>Mavyah Technologies Pvt.Ltd.
  
        </div>
    </div>
<style>
.navbar.navbar-transparent{
    background-color: #040404ad !important;
  
  border-radius: 10px !important;
}
img {
    border-radius: 50%;
}
a {
    color: #fff !important;
}
.navbar.navbar-transparent[_ngcontent-c3] {
    /* background-color: #616161ad !important; */
    background-color: #040404ad !important;
  
    border-radius: 10px !important;
}

.fa-sign-out:before {
    content: "\f08b" !important;
    color: azure !important;
}

.navbar[_ngcontent-c2] {
   
    letter-spacing: "0px" !important;
}

</style>
</footer>
